@use "../abstracts";

.footer {
    margin-top: 40px;
    padding: 40px 0;
    background: var(--footer-bg-color);
    &__row {
        display: grid;
        grid-template-columns: 300px 1fr;
        justify-items: end;
        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: column;
        }
    }

    &__col + &__col {
        @include abstracts.screen(lg) {
            margin-top: 30px;
        }
    }

    &__logo {
        @include abstracts.screen(lg) {
            margin-left: 0 !important;
        }
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__socials {
        margin-top: 20px;
        display: flex;
        column-gap: 15px;
        @include abstracts.screen(md) {
            column-gap: 30px;
        }
    }

    &__social {
        width: 20px;
        transition: translate 0.3s;
        &:hover {
            translate: 0 -2px;
        }
    }

    &__social-icon {
        @include abstracts.screen(md) {
            width: 30px;
        }
    }

    &__col-wrap {
        display: flex;
        column-gap: 150px;

        @include abstracts.screen(lg) {
            column-gap: 0;
            justify-content: space-between;
        }

        @include abstracts.screen(md) {
            flex-direction: column;
            row-gap: 45px;
        }
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__list {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 15px;
        }

        li + li {
            padding-top: 15px;

            @include abstracts.screen(md) {
                padding-top: 17px;
            }
        }
    }

    &__item {
        font-size: 1.6rem;
        transition: color 0.3s;
        margin-left: -5px;
        padding: 5px;
        transition: color 0.3s;

        &:hover {
            color: var(--footer-item-color-hover);
        }
    }

    &_separate {
        margin-top: 80px;
        width: 100%;
        height: 1px;
        background: var(--footer-separate-bg-color);

        @include abstracts.screen(lg) {
            margin-top: 55px;
        }
    }

    &__bottom {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
            row-gap: 20px;
        }
    }

    &__bottom--copyright {
        font-size: 1.6rem;

        @include abstracts.screen(md) {
            text-align: center;
            line-height: 1.4;
        }
    }

    &__bottom--list {
        display: flex;
        gap: 30px;
    }

    &__bottom--item {
        font-size: 1.6rem;
        padding: 5px;
        margin-left: -5px;
        transition: color 0.3s;
        &:hover {
            color: var(--footer-item-color-hover);
        }
    }
}
