<div class="container">
    <div class="footer__row">
        <!-- Footer col 1 -->
        <div class="footer__col">
            <!-- Logo footer -->
            <a href="./">
                <div class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="Grocerymart" class="logo__img">
                    <p class="logo__title">
                        grocerymart
                    </p>
                </div>
            </a>

            <p class="footer__desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt commodi quibusdam temporibus
                debitis? Fuga consectetur animi quae esse itaque eveniet
            </p>

            <div class="footer__socials">
                <!-- Facebook -->
                <a href="#!" class="footer__social">
                    <img src="../assets/icons/facebook-social.svg" alt="" class="icon">
                </a>

                <!-- X -->
                <a href="#!" class="footer__social">
                    <img src="../assets/icons/twitter-social.svg" alt="" class="icon">
                </a>

                <!-- Linkedin -->
                <a href="#!" class="footer__social">
                    <img src="../assets/icons/linkedin-social.svg" alt="" class="icon">
                </a>

                <!-- Instagram -->
                <a href="#!" class="footer__social">
                    <img src="../assets/icons/instagram-social.svg" alt="" class="icon">
                </a>
            </div>
        </div>

        <!-- Footer col 2 -->
        <div class="footer__col">
            <div class="footer__col-wrap">
                <!-- Footer col wrap 1 -->
                <div class="footer__col-wrap--col">
                    <div class="footer__heading">
                        Account
                    </div>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__item"> Profile</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Setting</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Billing</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Notifications</a>
                        </li>
                    </ul>
                </div>
                <!-- Footer col wrap 2 -->
                <div class="footer__col-wrap--col">
                    <div class="footer__heading">
                        Account
                    </div>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__item">Service</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Contact</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Careers</a>
                        </li>
                    </ul>
                </div>
                <!-- Footer col wrap 3 -->
                <div class="footer__col-wrap--col">
                    <div class="footer__heading">
                        Company
                    </div>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__item">Community</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Help center</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__item">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_separate">

    </div>

    <!-- Footer bottom -->
    <div class="footer__bottom">
        <p class="footer__bottom--copyright">
            @ 2025 All Right Reserved by Grocerymart
        </p>

        <ul class="footer__bottom--list">
            <li>
                <a href="#!" class="footer__bottom--item">
                    Terms
                </a>
            </li>
            <li>
                <a href="#!" class="footer__bottom--item">
                    Privacy
                </a>
            </li>
            <li>
                <a href="#!" class="footer__bottom--item">
                    Cokies
                </a>
            </li>
        </ul>
    </div>
</div>